.contact-page {
  display: flex;
  justify-content: space-evenly;
}
.section-right,
.section-left {
  width: 35%;
}
.section-middle {
  width: 30%;
  text-align: center;
}
.picture {
  max-width: 100%;
  max-height: 100%;
}
.contact-form {
  padding: 3rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.select-civil {
  width: 95%;
  margin: 0.5rem;
  background-color: rgb(208, 98, 181);
  border-radius: 1rem;
  text-align: center;
  padding: 0.3rem;
}
.location,
.name,
.accept-confident {
  width: 95%;
}
.contact-form-location {
  margin-top: 0;
}
.contact-form-address {
  margin-bottom: 0;
}
.accept-confident {
  font-size: 0.7rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
.btn-submit {
  margin: 1rem;
  background-color: rgb(208, 98, 181);
  border: 1px solid black;
  border-radius: 5rem;
  padding: 0.5rem;
  width: 40%;
}
